body {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}
nav .container #navbar ul {
	text-transform: uppercase;
}
p{
	font-size: 1.1em;
}
h4{
	font-size: 1.6em;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
	transition: all 0.3s;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

.navbar-default .navbar-nav > .active > a:active {
       color: #FFF;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	border-radius : 4px;
	background-color: #C1C1C1;
	color: #FFF;

}

.navbar-default .navbar-nav > li > a:hover {
	border-radius : 4px;
	background-color: white;
	color:#36393b;
}

.navbar-header .navbar-brand, .navbar-default .navbar-nav > li > a {
	color: #000;
}

.navbar-default {
	background-color: #fff;
	padding: 20px 0px;
	border: none;
	font-size: 1.1em;
	transition: all 0.2s;
}

.navbar-shrink .navbar-header .navbar-brand, .navbar-shrink .navbar-nav > li > a {
	color: #FFF;
}

.navbar-shrink {
	background-color: #36393b!important;
    padding: 10px 0;

}
.navbar-brand {
    font-size: 1.8em;
    transition: all 0.2s;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
.navbar-brandShrink {
    font-size: 1.2em;
}

header {
	/*background-color: #FFF;*/
	/*#E64848*/
	/*#7DCD85*/
	/*#3498db*/
	background-image: linear-gradient(#8b9da9, #fff6e4);
 	box-shadow: inset 0 0 100px hsla(0,0%,0%,.3);
}

header .container {
	/*background-color: #FFF;*/
}

.intro-text {
	padding-top: 300px;
	padding-bottom: 100px;
	font-size: 1.8em;
	color: #FFF;
	text-align: center;
}

.intro-text-title {
	color: #FFF;
}

.intro-text-subtitle {
	color: #FFF;
}

#services {
	min-height: 800px;
}
#services .faOrange{
	color: #fd8129;
}

#portfolio {
	/*height: 800px;*/
}

#about {
	min-height: 800px;
}


#contact {
	min-height: 800px;
	background-color: #fd8129;
	color: #fff;
}
#contact form .floating-label{
	color: #fff;
}

#contact form .form-control{
	background-image: linear-gradient(#009688, #009688), linear-gradient(#36393b, #36393b);
}
.bg-light-gray {
	background-color: #eff2f4;
}
#contact .btn-primary.btn-flat{
	background-color: #36393b;
	color: #fff;
}
#contact h3{
	color: #fff;
}
.detailBox{
	margin-bottom: 70px;
}

footer {
	padding: 10px 0px;
	text-align: center;
	background-color: #36393B;
	color: #FFF;
}

section {
	padding: 150px 0px;
}

aside {
	padding: 150px 0px;
}

.section-title {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}


img.desaturate {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: all 0.2s;
}

img.image-size {
	width: 80%;
	height: 80%;
}

img.desaturate:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	transition: all 0.4s;
}
/*
.portfolio-item-link {
	display: block;
	max-height: 289px;
	max-width: 400px;
	position: relative;
}*/
#portfolio .portfolio-item .portfolio-item-link {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    position: relative;
}

#portfolio .portfolio-item .portfolio-item-description h4 {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    margin: 0;
}

.portfolio-item-hover {
	width: 100%;
	height: 100%;
	position: absolute;
}

.portfolio-item-hover-content {
	top: 50%;
	position: relative;
	color: #36393b;
	text-align: center;
}

.portfolio-item-hover{
	opacity: 0;
}

.portfolio-item-hover:hover{
	opacity: 1;
	transition: all 0.4s;
	background: rgba(54, 57, 59, .5);
}

.portfolio-item-description {
	padding: 10px;
	text-align: center;
}

#portfolio .container .row .col-lg-12 .section-title {
	margin-bottom: 100px;
}

.portfolio-item {
	margin-bottom: 75px;
}


.portfolio-modal .modal-content {
	background-clip: border-box;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}

.portfolio-modal .close-modal {
    background-color: transparent;
    cursor: pointer;
    height: 75px;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 75px;
}

.inputs .form-control-wrapper {
	margin: 30px 0;
}


ul.social-buttons li a {
    background-color: #FFF;
    border-radius: 100%;
    color: #36393b;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    outline: 0 none;
    transition: all 0.3s ease 0s;
    width: 40px;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #C1C1C1;
    color: white;
}

.text-primary {
	color: #FFF;
}

/* ACTUAL CSS FOR THE ELEMENTS PRESENTED */
.box {
    background-color: #36393b;
    height: 200px;
    width: 100%;
}
.js-shadow {
	font-size: 10em;
  	text-align: center;
  	display: block;
  	height: 100%;
  	width: 100%;
  	overflow: hidden;
  	color : #FFF;
  	font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}
#contact form .form-control{
	background-image: linear-gradient(#fff, #fff), linear-gradient(#36393b, #36393b);
}
.form-control-wrapper .form-control:focus ~ .floating-label, .form-control-wrapper .form-control:not(.empty) ~ .floating-label{
	color: #000!important;
}
.form-control-wrapper .form-control:focus ~ .floating-label{
	color: #000!important;
}
#shadow-text {
	padding: 0px;
}

section h2.section-heading {
	font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 0;
}

h3.section-subheading {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
}

.portfolio-item-descriziption h3 {
	font-size: 1.1em;
}

.portfolio-item-description h4 {
	font-size: 1em;
}
.footer-copyright {
	margin-top: 10px;
}







/*Timeline*/
header:after, #timeline .timeline-item:after, 
header:before, #timeline .timeline-item:before {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

#timeline {
	width: 100%;
	margin: 30px auto;
	position: relative;
	padding: 0 10px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#timeline:before {
	content: "";
	width: 3px;
	height: 100%;
	background: #ee4d4d;
	left: 50%;
	top: 0;
	position: absolute;
}
#timeline:after {
	content: "";
	clear: both;
	display: table;
	width: 100%;
}
#timeline .timeline-item {
	margin-bottom: 50px;
	position: relative;
}
#timeline .timeline-item .timeline-icon {
	color: #fff;
	text-align: center;
	background: #ee4d4d;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	margin-left: -23px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

#timeline .timeline-item .timeline-icon .fa {
	line-height: 50px;
}

#timeline .timeline-item .timeline-content {
	width: 45%;
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#timeline .timeline-item .timeline-content h4 {
	padding: 15px;
	background: #ee4d4d;
	color: #fff;
	margin: -20px -20px 0 -20px;
	font-weight: 300;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

/*
ia fii atent

#timeline {
	.timeline-item {
		.timeline-content:before {
			asa vine ierarhia la astea?
			ok.
			o sa modific eu css-ul sa il fac in less
			ok.hai la dota
		}
	}
}*/
#timeline .timeline-item .timeline-content:before {
	content: '';
	position: absolute;
	left: 45%;
	top: 20px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #ee4d4d;
}
#timeline .timeline-item .timeline-content.right {
  	float: right;
}
#timeline .timeline-item .timeline-content.right:before {
	content: '';
	right: 45%;
	left: inherit;
	border-left: 0;
	border-right: 7px solid #ee4d4d;
}
/*end timeline*/


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}
@media screen and (max-width: 320px) {   
       img.desaturate {
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
		}
    }   


@media screen and (max-width: 768px) {
	/*Timeline*/
	#timeline {
		margin: 30px;
		padding: 0px;
		width: 90%;
	}
	#timeline:before {
		left: 0;
	}
	#timeline .timeline-item .timeline-content {
		width: 90%;
		float: right;
	}
	#timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
		left: 10%;
		margin-left: -6px;
		border-left: 0;
		border-right: 7px solid #ee4d4d;
	}
	#timeline .timeline-item .timeline-icon {
		left: 0;
	}
  	/*end Timeline*/
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

@media (max-width: 2000px) {
  	.js-shadow {
	  font-size: 10em;
	}
}
@media (max-width: 1000px) {
	.box {
		background-color: #36393b;
	  	height: 140px;
	}
  	.js-shadow {
	  	font-size: 6em;
	}
	/*.fa-stack .fa {
		height: 100px;
		width: 100px;
		line-height: 100px;
	}
	.fa-2x {
		font-size: 1.4em;
	}
	.fa-3x {
		font-size: 1.4em;
	}
	.portfolio-item-hover-content {
		top: 30%;
	}*/
	.intro-text img {
		width: 100%;
	}
}
@media (max-width: 500px) {
	.box {
		background-color: #36393b;
	  	height: 100px;
	}
  	.js-shadow {
	  	font-size: 4em;
	}
	/*.fa-stack .fa {
		height: 70px;
		width: 70px;
		line-height: 70px;
	}
	.fa-2x {
		font-size: 1em;
	}
	.fa-3x {
		font-size: 0.8em;

	}
	.portfolio-item-hover-content {
		top: 20%;
	}*/
}

.tech-item {
	margin-bottom: 20px;
}

.timeline-text {
	margin-top:20px;
}